.container_list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #080808;

    .list_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 20%;
        margin-top: 1.2rem;
        margin-right: 16px;
        z-index: 0;
        justify-content: center;
        font-size: 1.2525rem;
        color: #9C9C9C;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            transition: 0.3s;
            color: #0721e7;
            animation: shake .6s;
        }


    }

    .social_item {
        width: 5%;
        margin-top: 1.3rem;
        cursor: pointer;

        &:hover {
            transition: 0.3s;
            color: #0721e7;
            animation: shake .6s;
        }
    }
}



@keyframes shake {

    10%,
    90% {
        transform: translate3d(-2px, 0, 0)
    }

    20%,
    80% {
        transform: translate3d(3px, 0, 0)
    }

    30%,
    50%,
    70% {
        trasnform: translate3d(-5px, 0, 0)
    }

    40%,
    60% {
        transform: translate3d(5px, 0, 0)
    }
}

@media screen and (max-width:768px) {
    .container_list {

        .social_item {
            margin-right: 8px;
            
        }
    }
}

@media screen and (min-width:1024px) {
    .container_list {

        .social_item {
            margin-right: -120px;

        }
    }
}
