@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Mono:wght@700&family=Montserrat:ital,wght@1,400;1,600&display=swap');

.container {
    background-color: #080808;
    width: 99.975vw;
    height: 100vh;


    .container_list {
        display: flex;
        width: 100%;

        .list_item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 20%;
            z-index: 0;
            justify-content: center;
            padding: 1em 2em;
            color: #9C9C9C;
            cursor: pointer;
        }
    }

    .container_text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2rem 0;
        padding: 2rem 10rem;

        .title {
            display: flex;
            width: 40%;
            font-size: 48px;
            font-weight: bold;
            color: #FFF;
            flex-direction: column;
            align-items: flex-start;
            margin: 2rem 0 .5rem 0;
            padding: 2rem 0;

        }

        .subtitle {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding-bottom: 2rem;
            align-items: flex-start;
            line-height: 20px;
            letter-spacing: 2px;
            color: #9C9C9C;
        }

        .btn_container {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 21px 64px;
            gap: 10px;
            width: 307.89px;
            height: 63px;
            background: #3F8E00;
            border: 1px solid #62BA1B;
            box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
            border-radius: 4px;
        }


        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 164px;
            height: 21px;
            font-family: 'Courgette', cursive;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            background: #3F8E00;
            color: #FFF;
            border: none;
            text-decoration: none;

            &:hover {
                font-size: 18px;
                transition: .5s;
                text-decoration: underline;
                
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: .2rem;
                
                &:hover {
                    padding-left: .5rem;
                }
            }
            
        }        

        .container_img {
            position: absolute;
            width: 350px;
            height: 350px;
            top: 150px;
            left: 735px;
            padding-left: 12.5em;

            img {
                width: 350px;
                height: 350px;
                border-radius: 100%;
            }
        }
    }

    .container_h3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin: .5em -8em;
        gap: 10px;
        position: absolute;
        width: 93px;
        height: 18px;
        left: 180px;
        top: 557px;

        h3 {
            display: flex;
            align-items: flex-end;
            width: 110px;
            height: 18px;
            font-style: normal;
            font-size: 0.875rem;
            font-family: 'Courgette', cursive;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: #FFF;

        }
    }

    .container_footer {
        display: flex;
        width: 100%;
        height: 3.75rem;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        flex-shrink: 0;

        .footer_item {
            width: 5rem;
            height: 3.75rem;
            flex-shrink: 0;
            border-radius: 6px;
            border: 1px solid #1B1B1B;
            color: #FFF;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 1em 2em;

        }
    }
}