@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Mono:wght@700&family=Montserrat:ital,wght@1,400;1,600&display=swap');





.container {
    background-color: #080808;
    width: 99vw;
    height: 180vh;


    .container_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;


        img {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            box-shadow: 0 0 65px 0 rgba(7, 33, 231, 0.972);
            border: 1px solid rgb(7, 33, 231);
        }
    }


    .container_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -2rem;
        padding: 2rem 1.3rem;


        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 48px;
            font-weight: bold;
            color: #FFF;
            margin: 2rem 0 .5rem 0;
            padding: 2rem 0;

        }

        .subtitle {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            line-height: 20px;
            letter-spacing: 2px;
            color: #9C9C9C;
        }

        .btn_container {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 21px 64px;
            gap: 10px;
            width: 307.89px;
            height: 63px;
            background: #0721e7;
            border: 1px solid #0721e7;
            box-shadow: 0px 8px 30px rgba(7, 33, 231, 0.5);
            border-radius: 4px;
        }


        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 164px;
            height: 21px;
            font-family: 'Courgette', cursive;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            background: #0721e7;
            color: #FFF;
            border: none;
            text-decoration: none;

            &:hover {
                transition: .5s;
                text-decoration: underline;
                animation: shake 0.7s;

            }

            @keyframes shake {

                10%,
                90% {
                    transform: translate3d(-2px, 0, 0)
                }

                20%,
                80% {
                    transform: translate3d(3px, 0, 0)
                }

                30%,
                50%,
                70% {
                    trasnform: translate3d(-5px, 0, 0)
                }

                40%,
                60% {
                    transform: translate3d(5px, 0, 0)
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: .2rem;

                &:hover {
                    padding-left: .5rem;
                }
            }

        }


    }

    .container_h3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin: .5em -8em;
        gap: 10px;

        width: 93px;
        height: 18px;
        left: 180px;
        top: 557px;

        h3 {
            display: flex;
            align-items: flex-end;
            width: 110px;
            height: 18px;
            font-style: normal;
            font-size: 0.875rem;
            font-family: 'Courgette', cursive;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            color: #FFF;

        }
    }

    .footer__title {
        margin-left: 2rem;
        margin-top: 10rem;
        font-family: 'Courgette', cursive;
        font-family: 'IBM Plex Mono', monospace;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #FFF;
    }

    .container_footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
        border-radius: 3px;
        flex-shrink: 0;
        margin: 2rem 2rem 10rem 3rem;

        .footer_item {
            width: 40px;
            height: 12vh;
            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1em 2em;
            margin-bottom: 1rem;
            margin-right: .5rem;
            background-color: #2e2e2e;
            box-shadow: 5px 3px 5px 7px rgba(156, 156, 156, 0.5);

            .logo {
                width: 5.9rem;
                z-index: 99;

            }

        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9C9C9C;
        font-size: 0.875rem;
        font-family: IBM Plex Mono;
        letter-spacing: 0.00875rem;
        width: 104.7%;
        height: 4.375rem;
        flex-shrink: 0;
        background: #1B1B1B;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 95vw;
        height: 210vh;
        

        .container_footer {
            margin: 1.5rem 1rem;
        }

        @media screen and (max-width: 768px) {
            .copyright {
                width: 120vw;
                margin-top: 27rem;
            }
        }
    }


}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #0721e7;
}

html::-webkit-scrollbar-track {
    background: #080808;
}