.btn_whatsapp {
    position: fixed;
    bottom: 14px;
    right: 54px;
    z-index: 99;

    img {
        max-width: 74px;
        transition: transform 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.btn_whatsapp .tooltip_text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: #808080;
    color: #FFF;
    opacity: 0;
    transition: opacity 0.4s;
}

.btn_whatsapp:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {

    .btn_whatsapp {
        max-width: 64px;
        left: 25px;
        bottom: 75px;
        
    }
    
    .btn_whatsapp:hover .tooltip_text {
        left: 100px;
        visibility: visible;
        opacity: 1;
    }
}