.container {
    width: 100%;
    height: 266vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    .title {
        color: #fff;
        text-align: center;
        font-size: 2.125rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 5rem;
    }

    .container__work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 130%;
        margin: 7rem 0 2rem 7rem;


    }

    .title__work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        color: #fff;
        font-size: 1.5rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        margin-top: 5rem;
        margin-bottom: 1.2rem;



    }

    .subtitle__work {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        flex-direction: column;


        color: #9C9C9C;
        font-size: 0.875rem;
        font-family: IBM Plex Mono;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.00875rem;
        margin-bottom: 2rem;
    }

    .container__img {
        margin-bottom: 2rem;

        img {
            width: 30rem;

            flex-shrink: 0;
            border-radius: 7px;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.025);
                transition: 0.18s;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .container{

        .title{
            margin-top: 80rem;
            margin-left: 1rem;
            text-align: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .container{

        .title{
            margin-top: 15rem;
            margin-left: 1rem;
            
        }
    }
}

@media screen and (min-width: 1024px) {
    .container{

        .title{
            margin-top: 80rem;
        }
    }
}